<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Get Metrics of Last ...
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a id="1_min">Last 1 Hour</a></li>
    <li><a id="1_min">Last 5 Hours</a></li>
    <li><a id="1_min">Last 24 Hours</a></li>
    <li><a id="1_min">Last 7 Days</a></li>
    <li><a id="1_min">Last 30 Days</a></li>
    <li><a id="1_min">Last 3 Months</a></li>
  </ul>
</div>

<div id="temperatures_chart">
</div>