<div class="btn-group" data-toggle="buttons-radio">
  <a id="1_min" class="btn btn-mini active">Last 1 Hour</a>
  <a id="1_min" class="btn btn-mini">Last 5 Hours</a>
  <a id="1_min" class="btn btn-mini">Last 24 Hours</a>
  <a id="1_min" class="btn btn-mini">Last 7 Days</a>
  <a id="1_min" class="btn btn-mini">Last 30 Days</a>
  <a id="1_min" class="btn btn-mini">Last 3 Months</a>
</div>

<div id="temperatures_chart">
</div>