<p>
  <button class="btn btn-primary active" id="torrent-btn-10">Latest 10 Entries</button>
  <button class="btn btn-primary" id="torrent-btn-active">Active Only</button>
  <button class="btn btn-primary" id="torrent-btn-all">All</button>
</p>

<%= render 'downloading/torrent_table', :utorrent => @utorrent, :downloading => @downloading %> %>

