<!--<div class="container">-->
  <h1>Our Smart Home Dashboard</h1>

  <div class="row">

    <div class="span12">
      <!--Body content-->
      <section id="sys-temp-section">
        <div class="page-header">
          <h1>System Temperature</h1>
        </div>
        <%= render 'temperatures/temperature_chart' %>
      </section>

      <section id="sys-res-section">
        <div class="page-header">
          <h1>System Resources</h1>
        </div>
        <%= render 'system_metrics/latest_metrics' %>
      </section>

      <section id="key-proc-section">
        <div class="page-header">
          <h1>Key Processes</h1>
        </div>
      </section>

      <section id="down-status-section">
        <div class="page-header">
          <h1>Downloading Status</h1>
        </div>
        <%= render 'downloading/job_status', :utorrent => @utorrent, :downloading => @downloading %>
      </section>
    </div>
  </div>


<!--</div>-->