<div id="system_metrics_chart">
  <div id="processes" class='sys-metric-container'></div>
  <div id="cpu" class='sys-metric-container'></div>
  <div id="memory" class='sys-metric-container'></div>
</div>
